{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
	<form action="{{ url_for('add_blog') }}" method=post class=add-blog>
	<dl>
		<dt>Title:
		<dd><input type=text size=30 name=title>
		<dt>Text:
		<dd><textarea name=text rows=5 cols=40></textarea>
		<dd><input type=submit value=Share>
	</dl>
	</form>
	{% endif %}
	<ul class=blogs>
	{% for blog in blogs %}
	<li><h2> {{ blog.title }} </h2> {{ blog.text|safe }}
	{% else %}
	<li><em>Unblievable.No Blogs here so far</em>
	{% endfor %}
	</li>
{% endblock %}
